{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-color: #275657;
        }

        .card {
            border: none;
            background-color:#A1BFB0 ;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .user-content p {
            margin-top: 5px;
            font-size: 12px;
        }

    </style>
</head>
<h1 style="text-align: center; margin-top: 25px; color: #A1BFB0; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Reviews</h1>
<a href="{% url 'addreview' %}" class="btn btn-secondary" style="display: flex; justify-content: center; align-items: center; border-radius: 5em; background-color: #A1BFB0; color: white; transition: background-color 0.3s; padding: 0.5em 1em; margin: 0;">Add review</a>
<div class="container mt-5 mb-5">
    <div class="row">
        {% for review in reviews %}
        <div class="col-md-4 mt-4">
            <div class="card p-3 text-center px-4 h-100 d-flex flex-column review-card">
                <div class="user-image">
                    <img src="{{ review.package.image.url }}" class="rounded-circle" width="100" height="100">
                </div>
                <div class="user-content">
                    <h5 class="mb-0">{{ review.username }}</h5>
                    <span>Package: {{ review.package.name }}</span>
                    <p class="review-body">{{ review.body }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}